/CHECKLIST.md
/.github
/assets


/src/README.md
/src/Client/README.md
/src/Services/README.md

/src/Services/AddonService/README.md
/src/Services/AppService/README.md
/src/Services/AttachmentService/README.md

/src/Services/ChannelService/README.md
/src/Services/CommandService/README.md
/src/Services/ComponentService/README.md

/src/Services/ErrorService/README.md
/src/Services/EventService/README.md
/src/Services/ExpressionService/README.md

/src/Services/GuildService/README.md

/src/Services/MessageService/README.md

/src/Services/PermissionService/README.md

/src/Services/RoleService/README.md

/src/Services/TypeService/README.md

/src/Services/UserService/README.md

/src/Services/VoiceService/README.md
